:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 150px;

  &:hover,
  &:active,
  &:focus {
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.workImage {
  width: 100%;
  user-select: none;
}
