.background-elem {
  padding: 0 2rem;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  max-width: 500px;
  width: 100%;
  user-select: none;
}

.elem1{
  top: 600px;
  left: 120px;
}

.elem2{
  top: 21%;
  left: 71%;
}

.elem3 {
  width: 300px;
  top: 71%;
  left: 57%;
}

@media (max-width: 1400px) {
  .background-elem {
    max-width: 450px;
  }


  .elem1{
    top: 66%;
    left: 4%;
  }

  .elem2{
    top: 21%;
    left: 70%;
  }

}

@media (max-width: 1200px) {
  .background-elem {
    max-width: 400px;
  }


  .elem1{
    top: 66%;
    left: 4%;
  }


  .elem2{
    top: 21%;
    left: 60%;
  }

  .elem3 {
    width: 300px;
    top: 71%;
    left: 47%;
  }
}

@media (max-width: 800px) {
  .background-elem {
    max-width: 300px;
  }

  .elem1{
    top: 66%;
    left: 4%;
  }

  .elem2{
    top: 21%;
    left: 49%;
  }
}

@media (max-width: 600px) {
  .background-elem {
    max-width: 250px;
  }

  .elem1{
    top: 66%;
    left: 4%;
  }

  .elem2{
    top: 21%;
    left: 40%;
  }

  .elem3 {
    width: 250px;
    top: 88%;
    left: 47%;
  }
}
